.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 3rem);
  padding-left: var(--bs-gutter-x, 3rem);
  padding-top: var(--bs-gutter-x, 3rem);
  margin-right: auto;
  margin-left: auto;
}

.col-sm-9 {
  padding: 30px;
}

.input-group-text{
  background: rgb(245, 221, 25);
}
.rowLogin {
  background: #f5f5f5;
  position: relative;
}

.row {
  background: #f5f5f5;
}

.rowList:hover {
  transform: scale(1.01);
  border-color: burlywood;
  border-style: solid;
}
/* to make the card Item on the book overview clickable we need to set the absolute positon
on the a element in the rowList and say that the link lays 100% over the card */
.rowList a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bookInfoBanner {
  width: 100%;
  height: 100%;
  padding: 2%;
  margin-bottom: 2%;
}

.bookInfoImage {
  width: 200px;
  height: 300px;
}

.col-sm-2 img {
  width: 150px;
  height: 200px;
}

.placeholder-empty {
  height: 19px;
  background: #ffffff;
}

.BorrowedStyle {
  color: red;
  font-style: italic;
}

.notBorrowedStyle{
  color: #343a40;
  font-style: italic;
}
/* add category button style */
#addCategory, #addAuthor {
  margin: auto;
}
/*width for the multiselect dropdown for adding new book*/
.choices {
  width: 80%;
}
/*colors for the multiselect dropdown for adding a new book*/
.choices__list--multiple .choices__item[data-deletable] {
  padding-right: 5px;
  background-color: slategrey;
  border-color: burlywood;
}
/*
TODO style footer so it is not floating in the middle of the screen but is fixated at the bottom of the page
TODO make design more scalable for small screens
*/
