.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 3rem);
  padding-left: var(--bs-gutter-x, 3rem);
  padding-top: var(--bs-gutter-x, 3rem);
  margin-right: auto;
  margin-left: auto;
}

.col-sm-9 {
  padding: 30px;
}

.input-group-text{
  background: rgb(245, 221, 25);
}

.row {
  background: #f5f5f5;
}

.col-sm-2 img {
  width: 150px;
  height: 200px;
}

.placeholder-empty {
  height: 19px;
  background: #ffffff;
}