.register-photo {
  background: #f1f7fc;
  padding: 5em 0;
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(../../assets/img/register-screen.jpeg);
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 62.5em;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0.0625em 0.0625em 0.3125em rgba(0,0,0,0.1);
}

.register-photo form {
  display: table-cell;
  width: 25em;
  background-color: #ffffff;
  padding: 2.5em 3.75em;
  color: #505e6c;
}

@media (max-width:61.9375em) {
  .register-photo form {
    padding: 2.5em;
  }
}

.register-photo form h2 {
  font-size: 1.5em;
  line-height: 1.5;
  margin-bottom: 1.875em;
}

.register-photo form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 0.0625em solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 0.375em;
  height: 2.5em;
}

.register-photo form .form-check {
  font-size: 0.875em;
  line-height: 1.25em;
}

.register-photo form .btn-primary {
  background: #f5dd19;
  color: black;
  border: none;
  border-radius: 0.25em;
  padding: 0.6875em;
  box-shadow: none;
  margin-top: 2.1875em;
  text-shadow: none;
  outline: none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background: #fde70e;
}

.register-photo form .btn-primary:active {
  transform: translateY(0.0625em);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 0.75em;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

