.social-icons {
  color: #313437;
  background-color: #fff;
  text-align: center;
  padding: 4.375em 0;
}

@media (max-width:767px) {
  .social-icons {
    padding: 3.125em 0;
  }
}

.social-icons i {
  font-size: 2em;
  display: inline-block;
  color: #757980;
  margin: 0 0.625em;
  width: 3.75em;
  height: 3.75em;
  border: 0.0625em solid #c8ced7;
  text-align: center;
  border-radius: 50%;
  line-height: 3.75em;
}

